mixin courseslist(courses)
  - if (courses.length)
    - each course in courses
      .course
        h3
          a(href='/courses/'+course.name, title=course.name) #{course.name}
        p= course.body
        .meta
          span.muted= formatDate(course.createdAt)
          - if (course.user)
            | &nbsp; - &nbsp;
            span Author &nbsp;
            - var name = course.user.name ? course.user.name : course.user.username
            a(href="/users/"+course.user._id)= name
          - if (course.nodos)
            | &nbsp; - &nbsp;
            span Nodos &nbsp;
            - each nodo in course.nodos
              i.muted.fa.fa-tag &nbsp;
              a.tag(href="/nodos/"+nodo.id)= nodo.title
              | &nbsp;&nbsp;

          - if (course.tags)
            | &nbsp; - &nbsp;
            span Tags &nbsp;
            - each tag in course.tags.split(',')
              i.muted.fa.fa-tag &nbsp;
              a.tag(href="/tags/"+tag)= tag
              | &nbsp;&nbsp;
          - if(course.categories)
            | &nbsp; - &nbsp;
            span Categories &nbsp;
            - each category in course.categories
              a(href="/categories/"+category.id)= category.label

    - if (pages > 1)
      ul.pagination
        != createPagination(pages, page)
  - else
    h4.muted No courses.&nbsp;
      a(href="/courses/new") create one
