extends ../layouts/default
block main
  h1= title
  - if (req.isAuthenticated())
    p role:
    p=req.user.role
  - else
    p You have not authenticated.
      | You can
      a(href="/login", title="Login") Login
      | &nbsp; or &nbsp;
      a(href="/signup", title="Signup") Signup
block content
  .row
    .col-md-8
      - if (nodos.length)
        - each nodo in nodos
          .nodo
            h3
              a(href='/nodos/'+nodo._id, title=nodo.title) #{nodo.title}
            p= nodo.body
            .meta
              span.muted= formatDate(nodo.createdAt)
              - if (nodo.user)
                | &nbsp; - &nbsp;
                span Author &nbsp;
                - var name = nodo.user.name ? nodo.user.name : nodo.user.username
                a(href="/users/"+nodo.user._id)= name
              - if (nodo.tags)
                | &nbsp; - &nbsp;
                span Tags &nbsp;
                - each tag in nodo.tags.split(',')
                  i.muted.fa.fa-tag &nbsp;
                  a.tag(href="/tags/"+tag)= tag
                  | &nbsp;&nbsp;
        - if (pages > 1)
          ul.pagination
            != createPagination(pages, page)
      - else
        h4.muted No nodos.&nbsp;
          a(href="/nodos/new") create one
    .col-md-4
      p side bar
