extends ../layouts/default
block main
  h1= title
  - if (req.isAuthenticated())
    p role:
    p=req.user.role
  - else
    p You have not authenticated.
      | You can
      a(href="/login", title="Login") Login
      | &nbsp; or &nbsp;
      a(href="/signup", title="Signup") Signup
block content
  .row
    .col-md-8
      - if (articles.length)
        - each article in articles
          .article
            h3
              a(href='/articles/'+article._id, title=article.title) #{article.title}
            p= article.body
            .meta
              span.muted= formatDate(article.createdAt)
              - if (article.user)
                | &nbsp; - &nbsp;
                span Author &nbsp;
                - var name = article.user.name ? article.user.name : article.user.username
                a(href="/users/"+article.user._id)= name
              - if (article.tags)
                | &nbsp; - &nbsp;
                span Tags &nbsp;
                - each tag in article.tags.split(',')
                  i.muted.fa.fa-tag &nbsp;
                  a.tag(href="/tags/"+tag)= tag
                  | &nbsp;&nbsp;
        - if (pages > 1)
          ul.pagination
            != createPagination(pages, page)
      - else
        h4.muted No articles.&nbsp;
          a(href="/articles/new") create one
    .col-md-4
      p side bar