- if(!article.quizzes.length)
  form.form-horizontal(method="post", action="/articles/#{article._id}/quizzes", enctype="multipart/form-data", role="form", id="quizForm")
    input(type="hidden", name="_csrf", value="#{csrf_token}")
    #quizzes-group
      .quiz-group
        .form-group
          label.col-sm-2.control-label(for='title') Question:
          .col-sm-1.col-sm-offset-9
            button( type="button", class="close remove-quiz-btn", aria-hidden="true") &times;
        .form-group
          .col-sm-11.col-sm-offset-1
            input.form-control(type='text', name="quizzes[0]question", placeholder='Enter the Question title')

        .options-group.col-sm-offset-1

          .option-group
            .form-group
              label.col-sm-2.control-label(for='option') Option :
              .col-sm-9
                input.form-control(type='text', name="quizees[0]answers[0]option", placeholder='Enter option title')
              .col-sm-1
                button( type="button" class="close" aria-hidden="true") &times;
            .form-group
              .col-sm-9.col-sm-offset-2
                input(type="checkbox", name="quizees[0]answers[0]correct", placeholder="Correct ? ", checked="")
                label.control-label(for='correctBool') Correct ?
          .option-group
            .form-group
              label.col-sm-2.control-label(for='option') Option :
              .col-sm-9
                input.form-control(type='text', name="quizees[0]answers[0]option", placeholder='Enter option title')
              .col-sm-1
                button( type="button" class="close" aria-hidden="true") &times;
            .form-group
              .col-sm-9.col-sm-offset-2
                input(type="checkbox", name="quizees[0]answers[0]correct", placeholder="Correct ? ", checked="")
                label.control-label(for='correctBool') Correct ?

          .form-group.crud-option-control
            .col-sm-10.col-sm-offset-2
              button(class="btn btn-default pull-right remove-quiz-btn" , data-target='' ) add an option


        .form-group
          label.col-sm-3.control-label(for='correct') Correct
          .col-sm-9
            textarea.form-control(rows="1", name="quizzes[0]correct", placeholder='If Correct : ')
        .form-group
          label.col-sm-3.control-label(for='incorrect') Incorrect
          .col-sm-9
            textarea.form-control(rows="1", name="quizzes[0]correct", placeholder='If incorrect : ')

    hr
    .form-group.crud-quiz-control
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type='submit') Save
        | &nbsp;
        a.btn(href='/articles', title="cancel") Cancel
        button.btn.btn-primary.pull-right#add Add Question


- else
  form.form-horizontal(method="post", action="/articles/#{article._id}/quizzes", enctype="multipart/form-data", role="form", id="quizForm")
    input(type="hidden", name="_csrf", value="#{csrf_token}")
    #quizzes-group
      - each quiz, index in article.quizzes
        .quiz-group
          .form-group
            label.col-sm-2.control-label(for='title') Question:
            .col-sm-10
              input.form-control#quiz_title(type='text', name="quizzes["+index+"][title]",value=quiz.title, placeholder='Enter the title')
          .form-group
            label.col-sm-2.control-label(for='link') Link
            .col-sm-10
              textarea.form-control#quiz_url(rows="1", name="quizzes["+index+"][link]", placeholder='Enter address of the quiz')= quiz.link
            if index == 0

              .form-group.crud-quiz-control.hide
                .col-sm-12
                  button(class="btn btn-primary remove-quiz-btn" , data-target=index ,id=quiz.id) add a answer .
                  button(class="btn btn-primary remove-quiz-btn" , data-target=index ,id=quiz.id) remove a answer .
                  button(class="btn btn-primary pull-right remove-quiz-btn" , data-target=index ,id=quiz.id) remove this question.
            else
              .form-group.crud-quiz-control
                .col-sm-12
                  button(class="btn btn-primary pull-right remove-quiz-btn" , data-target=index ,id=quiz.id) remove this one.
          hr
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type='submit') Update
        | &nbsp;
        a.btn(href='/articles', title="cancel") Cancel
        button.btn.btn-primary.pull-right#add Add Question

#formBuilder

