extends ../layouts/default

block main
  h1= course.name

    .pull-right
      a.btn.btn-primary(href='/courses/'+course.name+'/learn', title="edit") Learn It
      | &nbsp;
      a.btn.btn-default(href='/courses/'+course.name+'/edit', title="edit") Edit
      -if (req.isAuthenticated())
          form.btn(action="/courses/"+course.name, method="post", onsubmit="return confirm('Are you sure?')")
            input(type='hidden', name='_csrf', value="#{csrf_token}")
            | &nbsp;
            input(type="hidden", name="_method", value="DELETE")
            button.btn.btn-danger(type="submit") Delete
  hr

block content
  .row
    .col-md-8
    
      - if (course.participants)
        - each participant in course.participants
          - var name = participant.name ? participant.name : participant.username
          p.muted= formatDate(course.createdAt, "%b %d, %Y at %I:%M %p")
          p Author :&nbsp;
            a(href="/users/"+participant.name)= name

      p!=course.description
      .meta

        - if (course.nodos.length)
          h2 Nodos &nbsp;

          ul
          - each cnodo in course.nodos
            li
              .well
                a(href="/nodos/"+cnodo.nodo.title)= cnodo.nodo.title
                p= cnodo.nodo.body
                img(src=cnodo.nodo.image.cdnUri + '/thumb_' + cnodo.nodo.image.files[0] width=80)


       

    .col-md-4
      - if (!course.isNew && course.image && course.image.files && course.image.files.length)
        img(src=course.image.cdnUri + '/thumb_' + course.image.files[0])

      - if (course.tags)
        h3 Tags &nbsp;
        p
          - each tag in course.tags.split(',')
            i.muted.fa.fa-tag &nbsp;
            a.tag(href="/tags/"+tag)= tag
            | &nbsp;&nbsp;

      - if (categories)
        - each categoryType in categories
          h3= categoryType._id
          | &nbsp;
          - each category in categoryType.categories
            - if( _.some(course.categories, function(cat) { return cat.id == category._id;}))
              a.tag(href="/categories/"+category._id)= category.label
              | &nbsp;&nbsp;

block foot
